# Projeto 1 - Ciência dos Dados

Nome: João Pedro Reis Lima

Nome: Lucas Gurgel

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [31]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [32]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\Joao\Projeto-1-CDADOS

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [33]:
filename = 'esquadrão suicida 2.xlsx'

In [34]:
dados = pd.read_excel(filename)
dados.head(5)

                                         Treinamento  Unnamed: 1
0  to feliz q da p prestar atenção e gostar de vá...         1.0
1  os roteirista de esquadrão suicida 2 devem ter...         0.0
2        assistir esse esquadrão suicida 2 de marola         0.0
3  e eu e gilson que fechamos a sala de cinema p ...         0.0
4      esquadrão suicida 2 é muito bom, amei o filme         1.0

In [35]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  -
0  assisti esquadrão suicida 2 com um pouco de at...  0
1      vou ver esquadrão suicida 2 hj, vcs já viram?  0
2  @lsdcomixxx adm hj eu sonhei que ele tava no e...  0
3  ranking personagens do esquadrão suicida:\n\n1...  1
4  mano gloria groove no esquadrão suicida 2 fico...  1

___
## Classificador automático de sentimento

Nós consideramos relavante comentários que demostravam alguma critica ao produto tais como: Se a pessoa gostou ou não da obra, o que ela sentiu(emoção), também consideramos personagens favoritos como algo relavante 

Não consideramos comentarios de situações adversas sem relação direta com a criticidade da obra, tal como comentarios pessoais

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [36]:
import re 
import emoji
from emoji import UNICODE_EMOJI


def cleanup(text):
    """
        Função de limpeza muito simples que troca alguns sinais básicos por espaços
    """
    #import string
    punctuation = '[”@\-/!.:?;,''"|]' # Note que os sinais [] são delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    return text_subbed

In [37]:
def minusculo(text):
    return text.lower()

In [38]:
def separa_emoji(tweet):
   
    modified=' '.join(emoji.get_emoji_regexp().split(tweet))
    modified=modified.split()
    for i,emoji1 in enumerate(modified):
        if emoji1 in UNICODE_EMOJI['pt']:
            modified[i]=UNICODE_EMOJI['pt'][emoji1].replace(':','')
        else:
            continue
    modified=' '.join(modified)
        
    return modified

In [39]:
def limpatudo(text):
    tira_pontuacao = cleanup(text)
    tudo_minusculo = minusculo(tira_pontuacao)
    limpo = (separa_emoji(tudo_minusculo)).split()

    return limpo

In [44]:
#Transformando palavras em variáveis categóricas:
dados['Treinamento'] = dados['Treinamento'].astype('category')
test['Teste'] = test['Teste'].astype('category')

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

['rosto_pensativo', 'macaco_que_não_vê_nada', 'lorum', 'ipsum', 'rosto_aliviado', 'de', 'dois_corações', 'duas_mulheres_de_mãos_dadas', 'biquíni']

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separação de espaços entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adição de mais tweets na base, conforme enunciado. (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**